.serviceGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media (max-width: 968px) {
    .heroGrid {
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 992px) {
    .serviceGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .serviceGrid {
        grid-template-columns: 1fr;
    }
}